{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        {% for listing in listings %}
        <div class="listing_name"><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></div>
        <div class="listing_description">{{ listing.description }} </div>
        <div class="listing_price">{{ listing.price }} </div>
        {% if listing.category %}
        <div class="listing_category">c: {{ listing.get_category_display }}</div>
        {% endif %}
        {% if listing.picture %}
        <div class="listing_picture">P: {{ listing.picture }}</div>
        {% endif %}
        ------------------------------
        {% endfor %}
    {% else %}
        <div class="listing_extra">There are no listings in our database</div>
    {% endif %}
{% endblock %}